* {margin:0;}
h1 {
 color:black;
 text-size:1.5em;
 text-shadow:2px 2px #CCCCCC;
 text-align:center;
 margin-bottom:10px;
 border-bottom-style:solid;
 border-bottom-width:1px;
 border-color:black;
}
body {
 background-color:#CCDDFF;
 margin-top:20px;
}
.container {
 border-style:solid;
 border-width:1px;
 border-color:black;
 width:700px;
 margin-left:auto; /* centres the div on the page */
 margin-right:auto;
 background-color:white;
 overflow:hidden; /* this is necessary to make the background colour continue */
}
.navigation {
 float:left;
 width:100px;
 height:100%;
 text-align:center;
 line-height:24px;
 margin:3px;
}
 
/* this means an anchor within a navigation element */
.navigation a {
 text-decoration:none;
 background-color:#4499EE;
 color:white;
 display:block;
 padding:0px;
 margin:0;
 text-transform:uppercase;
}
.navigation a:hover, .navigation a:active {
 color:white;
 background-color:#44BBFF;
 text-decoration:none;
}
.content {
 margin-left:115px;
 margin-right:10px;
 /*margin-top:20px;*/
 font-size:15px;
}
a {
 color:#4499EE;
 text-decoration:none;
}
a:hover, a:active {
 color:#44BBFF;
}